.form{
  background-color:#F3F3F4;
  padding: 20px 50px 90px 40px;
  height: 80vh;
}

.title{
  border-bottom: 1px solid #E4E4E4;
}

p {
  color: #999999;
}

label{
  font-weight: bold;
  margin-top: 40px;
}

button {
  margin: 50px 30px 0 0;
  width: 180px;
}