.sidebar{
  background-color: #3A3A3A;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100vh;
  padding: 20px;
  grid-area: 1 / 1 / 6 / 2;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

.sidebar ul li {
  padding: 10px 0;
}
.sidebar ul li img {
  padding:  0 10px;
}

.sidebar img{
  margin: auto;
}